.main-framework: ul.list-vertical
    li: a(href="#{baseUrl}/core/#container") Container
    li: a(href="#{baseUrl}/core/#gridSystem") Grids System
    li: a(href="#{baseUrl}/core/#code") Code
    li: a(href="#{baseUrl}/core/#table") Table
    li: a(href="#{baseUrl}/core/#button") Button
    li: a(href="#{baseUrl}/core/#form") Form
    li: a(href="#{baseUrl}/core/#typography") Typography
    li: a(href="#{baseUrl}/core/#blockquote") Blockquote
