doctype html
html
    head
        title #{title}

    body
        div
            ul
                li: a(href="#{baseUrl}") Home
                li: a(href="#{baseUrl}/core") Core
                li: a(href="#{baseUrl}/components") Components
                li: a(href="#{baseUrl}/getting-started") Getting Started
